{
  plugins: [
    'transform-object-rest-spread',
  ],
  
  // Settings used for building npm distributable module
  // https://babeljs.io/docs/en/6.26.3/babel-preset-env
  env: {
    cjs: {
      presets: [
        ['env', {
          modules: 'commonjs',
          targets: {
            node: '8.9.1',
          },
        }],
        'react',
      ],
    },
    esm: {
      presets: [
        ['env', {
          /* debug: true, */
          modules: false,
        }],
        'react',
      ],
    },
  }
}
